// Fonts

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

// Imports
@import './nullstyle.scss';
@import './config.scss';

// Vars

:root {
  --color-green: #418a1c;
  --color-green-light: #51c815;
  --color-black-1: #081800;
  --color-black-2: #101c02;
  --color-black-3: #000a01;
  --color-black-hover: #123200;
  --color-grey: #f7ffec;
}

// Global styles

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: var(--color-black-1);

  &.is-fixed {
    overflow-y: hidden;
    position: fixed;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.order-btn {
  display: inline-block;
  @include textProperties(18px, 23px, #fff);
  background-color: var(--color-black-1);
  padding: 20px 30px;
  box-shadow: 8px 8px 0px #51c815;

  transition: background-color 0.2s linear;

  &:hover {
    background-color: var(--color-black-hover);
  }

  &:active {
    position: relative;
    top: 4px;
    left: 4px;
    box-shadow: 4px 4px 0px #51c815;
  }
}

.primary-title {
  @include textProperties(57px, 80px, var(--color-black-1));
  font-weight: 800;

  @media (max-width: 990.98px) {
    font-size: rem(52px);
  }

  @media (max-width: 767.98px) {
    font-size: rem(48px);
  }
  @media (max-width: 479.98px) {
    font-size: rem(36px);
  }
}

.primary-text {
  @include textProperties(18px, 29px, var(--color-black-1));
  opacity: 0.6;
}

// Header

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 40px 0;

    @media (max-width: 767.98px) {
      padding: 20px 0;
    }
  }
}

.navbar {
  &.is-active {
    transform: translateY(0);
  }

  @media (max-width: 619.98px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 138, 28, 0.4);
    backdrop-filter: blur(10px);
    z-index: 2;

    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 45px;

    @media (max-width: 619.98px) {
      flex-direction: column;
      position: relative;
      z-index: 3;
    }
  }
  &__link {
    @include textProperties(18px, 23px, var(--color-black-2));
    opacity: 0.5;
    transition: color 0.2s linear, opacity 0.2s linear;

    &:hover {
      color: var(--color-green);
      opacity: 1;
    }

    @media (max-width: 619.98px) {
      opacity: 1;
    }
  }
  &__btn {
    margin-left: 35px;

    @media (max-width: 767.98px) {
      margin-left: 0;
    }

    @media (max-width: 619.98px) {
      display: none;
    }
  }
}

.burger {
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opacity, filter;
  position: relative;
  z-index: 3;
  display: none;
  margin-right: -15px;

  &.is-active &__inner {
    transition-delay: 0.2s;
    transition-timing-function: ease;
    transform: rotate(45deg);
  }

  &.is-active &__inner::before {
    top: 0;
    transition: top 0.2s ease, opacity 0.2s ease 0.2s;
    opacity: 0;
  }
  &.is-active &__inner::after {
    transition: bottom 0.2s ease, transform 0.2s ease 0.2s;
    transform: rotate(-90deg);
    bottom: 0;
  }

  @media (max-width: 619.98px) {
    display: inline-block;
  }

  &__box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  &__inner {
    top: 50%;
    display: block;
    margin-top: -2px;
    transition-timing-function: ease;
    transition-duration: 0.2s;

    &::before,
    &::after {
      display: block;
      content: '';
    }

    &,
    &::before,
    &::after {
      position: absolute;
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: var(--color-black-1);
      transition-timing-function: ease;
      transition-duration: 0.2s;
      transition-property: transform;
    }

    &::before {
      top: -10px;
      transition: top 0.2s ease 0.2s, opacity 0.2s ease;
    }
    &::after {
      bottom: -10px;
      transition: bottom 0.2s ease 0.2s, transform 0.2s ease;
    }
  }
}

// Hero

.hero {
  padding-bottom: 65px;

  @media (max-width: 767.98px) {
    padding-bottom: 30px;
  }

  &__body {
    position: relative;
    padding-top: 190px;

    display: flex;

    @media (max-width: 767.98px) {
      padding-top: 120px;
    }
  }
  &__shape {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 51%;
    background: url('../images/hero/hero-image.png') right 8% top 0 / 660px 810px no-repeat
      var(--color-grey);
    z-index: -1;

    @media (max-width: 767.98px) {
      background: var(--color-grey);
    }

    @media (max-width: 479.98px) {
      display: none;
    }
  }
  &__content {
    max-width: 715px;
    margin-left: 34%;

    @media (max-width: 767.98px) {
      margin-left: 0;
    }
  }
  &__title {
    @include textProperties(60px, 78px, var(--color-black-1));
    font-weight: 800;
    margin-bottom: 35px;

    span {
      @include textProperties(80px, 105px, var(--color-green));

      @media (max-width: 990.98px) {
        font-size: rem(64px);
      }
      @media (max-width: 479.98px) {
        font-size: rem(42px);
      }
    }

    @media (max-width: 990.98px) {
      font-size: rem(44px);
    }
    @media (max-width: 479.98px) {
      font-size: rem(32px);
      margin-bottom: 20px;
    }
  }
  &__info {
    max-width: 528px;
    margin-left: 26%;

    @media (max-width: 767.98px) {
      margin-left: 0;
    }
  }
  &__text {
    @include textProperties(18px, 29px, var(--color-black-1));
    opacity: 0.6;
    margin-bottom: 45px;
  }
  &__btn {
    margin-bottom: 75px;

    @media (max-width: 479.98px) {
      margin-bottom: 45px;
    }
  }
}

.result-hero {
  display: flex;
  gap: 102px;

  @media (max-width: 479.98px) {
    gap: 20px;
    justify-content: space-between;
  }

  &__num {
    @include textProperties(43px, 60px, var(--color-green));
    margin-bottom: 10px;
  }
  &__text {
    @include textProperties(18px, 29px, var(--color-black-1));
    opacity: 0.7;
  }
}

// Plant

.plant {
  &__body {
    padding: 65px 0;
    display: grid;
    grid-template-columns: minmax(300px, 584px) minmax(300px, 436px);
    gap: 20px;
    justify-content: space-between;

    @media (max-width: 767.98px) {
      padding: 30px 0;
      grid-template-columns: minmax(290px, 500px);
      justify-content: center;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;

    @media (max-width: 767.98px) {
      &:last-child {
        flex-direction: column-reverse;
      }
    }
  }
  &__title {
    margin-bottom: 50px;

    @media (max-width: 767.98px) {
      margin-bottom: 25px;
    }
  }
  &__shape-second {
    margin-bottom: 40px;

    @media (max-width: 767.98px) {
      margin-bottom: 0;
    }
  }
  &__text {
    margin-bottom: 30px;

    @media (max-width: 767.98px) {
      order: 2;
    }
  }
  &__btn {
    max-width: 153px;

    @media (max-width: 767.98px) {
      order: 1;
      margin-bottom: 40px;
    }
  }
}

.shape-first-plant,
.shape-second-plant {
  background-color: var(--color-grey);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.shape-first-plant {
  padding: 57px 45px 41px 49px;

  @media (max-width: 479.98px) {
    padding: 37px 25px 21px 29px;
  }

  &__image {
    position: relative;
    padding-bottom: 57%;
  }
}
.shape-second-plant {
  padding: 9px 27px 8px 26px;

  @media (max-width: 479.98px) {
    padding: 0 17px 0 26px;
  }

  &__image {
    position: relative;
    padding-bottom: 96%;
  }
}

// About

.about {
  &__body {
    padding: 65px 0;
    display: grid;
    grid-template-columns: minmax(300px, 492px) minmax(300px, 528px);
    gap: 20px;
    justify-content: space-between;

    @media (max-width: 767.98px) {
      padding: 30px 0;
      grid-template-columns: minmax(290px, 500px);
      justify-content: center;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;

    @media (max-width: 767.98px) {
      &:first-child {
        flex-direction: column-reverse;
      }

      &:last-child {
        grid-area: 1 / 1;
      }
    }
  }
  &__shape-first {
    margin-bottom: 60px;

    @media (max-width: 767.98px) {
      margin-bottom: 0;
    }
  }
  &__list {
    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }
  &__item {
    position: relative;
    padding-left: 66px;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 40px;
      height: 40px;
      background: url('../images/about/about-check-icon.svg') center no-repeat, var(--color-green);

      @media (max-width: 424.98px) {
        width: 28px;
        height: 28px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    span {
      @media (max-width: 424.98px) {
        font-size: rem(14px);
      }
    }

    @media (max-width: 424.98px) {
      padding-left: 40px;
    }
  }
  &__title {
    margin-bottom: 50px;
    max-width: 450px;

    @media (max-width: 767.98px) {
      margin-bottom: 25px;
    }
  }
}

.shape-first-about,
.shape-second-about {
  background-color: var(--color-grey);

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.shape-first-about {
  padding: 30px 64px 31px;

  @media (max-width: 767.98px) {
    padding: 10px 44px 11px;
  }

  &__image {
    position: relative;
    padding-bottom: 52%;
  }
}
.shape-second-about {
  padding: 32px 64px;

  @media (max-width: 767.98px) {
    padding: 12px 44px;
  }

  &__image {
    position: relative;
    padding-bottom: 94%;
  }
}

// Video

.video {
  &__body {
    padding: 65px 0;
    display: grid;
    grid-template-columns: minmax(300px, 499px) minmax(300px, 528px);
    gap: 20px;
    justify-content: space-between;

    @media (max-width: 767.98px) {
      padding: 30px 0;
      grid-template-columns: minmax(290px, 500px);
      justify-content: center;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;

    @media (max-width: 767.98px) {
      &:last-child {
        flex-direction: column-reverse;
      }
    }
  }
  &__title {
    max-width: 351px;
    margin-bottom: 60px;

    @media (max-width: 767.98px) {
      margin-bottom: 25px;
    }
  }

  &__shape-second {
    margin-bottom: 40px;

    @media (max-width: 767.98px) {
      margin-bottom: 0;
    }
  }
  &__text {
    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }
}

.shape-first-video,
.shape-second-video {
  background-color: var(--color-grey);
  position: relative;

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;

    &:hover span::before {
      opacity: 0.7;
    }
    &:hover span::after {
      opacity: 0.7;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background-color: #fff;
      z-index: 2;

      display: inline-flex;
      justify-content: center;
      align-items: center;

      &::before,
      &::after {
        content: '';
        border-radius: 50%;
        position: absolute;
        transition: opacity 0.2s linear;
        opacity: 0.5;
        z-index: -1;
      }

      &::before {
        background-color: #fff;
        width: 96px;
        height: 96px;
      }
      &::after {
        background-color: rgba(255, 255, 255, 0.5);
        width: 126px;
        height: 126px;
      }
    }
  }

  &__triangle {
    width: 34px;
    height: 26px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.shape-first-video {
  padding: 48px 74px 51px;

  @media (max-width: 767.98px) {
    padding: 28px 54px 31px;
  }

  &__video {
    position: relative;
    padding-bottom: 98%;
  }
}
.shape-second-video {
  padding: 40px 55px 39px;

  @media (max-width: 767.98px) {
    padding: 20px 35px 19px;
  }

  &__video {
    position: relative;
    padding-bottom: 111%;
  }
}
